* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s ease-in-out;
    font-family: sans-serif;
}

html {
    font-size: 62.25%;
    overflow-x: hidden;
}

body {
    background-color: #d4e5c7;
}

/*   header   */
header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1a3a2e;
    padding: 2rem 8%;
    z-index: 100;
}

header .logo {
    width: 20rem;
}

header .logo img {
    width: 100%;
}

header nav {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

header nav ul li {
    list-style: none;
    border: none;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 1px;
}

header nav ul li a:hover,
.activ {
    color: #cbea7b;
}

header nav .contact-btn {

    height: 4.5rem;
    background: #cbea7b;
    color: #1a3a2e;
    border: none;
    font-size: 1.6rem;
    padding: .9rem 2.5rem;
    border-radius: .8rem;
    box-shadow: 2px 2px 10px 10px #fafbf206;
    cursor: pointer;
}

header .fa-bars {
    cursor: pointer;
    color: #cbea7b;
    font-size: 3rem;
    display: none;
}

/* hero section */

.hero-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 8.5rem;
    background-color: #d4e5c7;
}

.hero-section .hero-img {
    flex-grow: 1;
    flex-basis: 45rem;
}

.hero-section .hero-img img {
    width: 100%;
}

.contant {
    flex-grow: 1;
    flex-basis: 45rem;
    padding: 10rem 9rem 6rem 3.5rem;
}

.contant .info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contant .info h3 {
    font-size: 2.2rem;
    font-weight: 500;
    /* border-bottom: 3px solid #cbea7b; */
    margin-bottom: 1rem;
    color: #1a3a2e;
}

.contant .info h1 {
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2rem;
    color: #1a3a2e;
}

.contant .info p {
    font-size: 1.3rem;
    line-height: 1;
    margin-bottom: 3.2rem;
    color: #333;
}

.contant .contant-btn {
    display: flex;
    gap: 1rem;
    width: 100%;
    margin-bottom: 6rem;
    box-shadow: 2px 2px 10px 10px #fafbf206;
}

.contant .contant-btn .btn {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem;
    border: none;
    border-radius: .6rem;
    color: #333;
    cursor: pointer;
}

.btn.green {
    background: #cbea7b;
}

.btn.graw {
    background: #bbb;
}

.contant .happy-customer {
    display: flex;
    align-items: center;
    width: 100%;
}

.contant .happy-customer .img {
    width: 9rem;
    height: 5rem;
    position: relative;
    padding: .5rem;
    border: .1px solid #cbea7b77;
    border-radius: 3rem;
    margin-right: 1rem;
}

.contant .happy-customer .img .cus-pic {
    position: absolute;
    top: 0.4rem;
    left: 0.7rem;
    width: 4rem;
    z-index: 20;
}

.contant .happy-customer .img .pico {
    left: 2rem;
    z-index: 25;
}

.contant .happy-customer .img .pict {
    left: 4rem;
    z-index: 30;
}

.contant .happy-customer p {
    font-size: 1.8rem;
    color: #333;
}

.contant .happy-customer p span {
    font-weight: bold;
    color: #1a3a2e;
}

/* features section */

.features {
    width: 100%;
    padding: 10rem 8% 10rem;
}

.sec-info {
    max-width: 80rem;
    margin: 0 auto;
    margin-bottom: 6rem;
    text-align: center;

}

.sec-info h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.8rem;
}

.sec-info p {
    font-size: 1.4rem;
    line-height: 1.4;
}

.features .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    gap: 2rem;
}

.features .cards .card {
    background: #eef8d3;
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 2px 2px 10px 10px #fafbf222;
}

.features .cards .card .head {
    width: 100%;
    height: auto;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}

.features .cards .card .head .img {
    width: 5rem;
    height: auto;
    border-radius: .8rem;
    background: #cbea7b;
    padding: .6rem;
}

.features .cards .card .head .img img {
    width: 100%;
}

.features .cards .card .head h3 {
    font-size: 1.8rem;
    font-weight: 300;
}

.features .cards .card p {
    font-size: 1.3rem;
    text-align: start;
    margin-bottom: 0;
}

.blogs {
    width: 100%;
    padding: 0rem 8% 10rem;
}

.blogs .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    gap: 2rem;
}

.blogs .cards .card {
    background: #eef8d3;
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 2px 2px 10px 10px #fafbf222;
}

.blogs .cards .card .img {
    width: 100%;
    height: auto;
    border-radius: 1.2rem;
    margin-bottom: 4rem;
}

.blogs .cards .card .img img {
    width: 100%;
}

.blogs .cards .card .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.blogs .cards .card .content .info span {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.blogs .cards .card .content .info h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
}

.blogs .cards .card .content .info p {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.blogs .cards .card .writer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #f6fbef;
    padding: 1rem;
    border-radius: 1.2rem;
}

.blogs .cards .card .writer .left {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.blogs .cards .card .writer .left .p-info h4 {
    font-size: 1.3rem;
    font-weight: lighter;
    margin-bottom: 1.2rem;
}

.blogs .cards .card .writer .left .p-info span {
    font-size: 1.2rem;
    font-weight: lighter;
}

.blogs .cards .card .writer .right {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.blogs .cards .card .writer .right .icon {
    padding: 1.2rem 1.5rem;
    font-size: 1.8rem;
    background: #eef8d3;
    border-radius: .8rem;
    cursor: pointer;
}

.testimamonials {
    width: 100%;
    padding: 0rem 8% 10rem;
}

.testimamonials .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    gap: 2rem;
    flex-wrap: wrap;
}

.testimamonials .cards .card {
    height: 24rem;
    background: #eef8d3;
    border-radius: 12px;
    box-shadow: 2px 2px 10px 10px #fafbf222;
    overflow: hidden;
    position: relative;
}

.testimamonials .cards .card .paragraph {
    width: 100%;
    height: auto;
    padding: 2rem;
}

.testimamonials .cards .card .paragraph img {
    width: 7rem;
    height: 7rem;
    position: absolute;
    left: 0;
    top: 0;
}

.testimamonials .cards .card .paragraph p {
    position: absolute;
    left: 2rem;
    top: 6rem;
    right: 2rem;
    font-size: 1.3rem;
    line-height: 1.3;

}

.testimamonials .cards .card .person {
    width: 100%;
    height: 9rem;
    position: absolute;
    top: 15rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #fafbf2;
    padding: 2rem;
}

.testimamonials .cards .card .person img {
    width: 5rem;
}

.testimamonials .cards .card .person span {
    font-size: 1.5rem;
    font-weight: 700;
}

.testimamonials .slider-container {
    width: 100%;
    padding-top: 6rem;
    display: flex;
    justify-content: center;
}

.testimamonials .slider-container .slider-nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.testimamonials .slider-container .slider-nav .nav-btn {
    background-color: rgb(204, 204, 204);
    border: 1px solid rgba(51, 51, 51, 0.3);
    border-radius: 1.2rem;
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
    color: rgb(51, 51, 51);
    cursor: pointer;
    transition: all 0.3s ease;
}

.testimamonials .slider-container .slider-nav .dots {
    display: flex;
    gap: 1rem;
}

.testimamonials .slider-container .slider-nav .dots .dot {
    width: 1rem;
    height: 1rem;
    background-color: #e1f0b5;
    border-radius: 50%;
}

.testimamonials .slider-container .slider-nav .dots .dot.active {
    background-color: #306c52;
}

.pricing {
    width: 100%;
    padding: 0rem 8% 10rem;
}

.pricing .btn-container {
    width: 100%;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing .btn-container .btns {
    display: flex;
    padding: .7rem;
    border: 1px solid #cbea7b;
    border-radius: 1.2rem;
    gap: 1rem;
}

.pricing .btn-container .btns button {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.2rem 1.7rem;
    background-color: transparent;
    border-radius: .8rem;
    border: none;
}

.pricing .btn-container .btns .month {
    background-color: #1a3a2e;
    color: #fff;
}

.pricing .btn-container span {
    font-size: 1.4rem;
    margin-top: 1.5rem;
}

.pricing .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    gap: 2rem;
    flex-wrap: wrap;
}

.pricing .cards .card {
    padding: 2rem;
    background: #eef8d3;
    border-radius: 12px;
    box-shadow: 2px 2px 10px 10px #fafbf222;
    overflow: hidden;
}

.pricing .cards .card .header {
    margin-bottom: 3rem;
}

.pricing .cards .card .header h2 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.pricing .cards .card .header span {
    font-size: 1.6rem;
}

.pricing .cards .card p {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 1.4rem;
}

.pricing .cards .card .pric {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .3rem;
    margin-bottom: 1.4rem;
}

.pricing .cards .card .pric h1 {
    font-size: 3.2rem;
    color: #1a3a2e;
}

.pricing .cards .card .pric span {
    font-size: 1.5rem;
}

.pricing .cards .card .btn {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
    border-radius: .8rem;
    background-color: #cbea7b;
}

footer {
    width: 100%;
    padding: 0rem 8% 4rem;
    background-color: #1a3a2e;
}

footer .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1a3a2e;
    padding: 2rem 0;
    z-index: 100;
}

footer .header .logo {
    width: 20rem;
}

footer .header .logo img {
    width: 100%;
}

footer .header nav ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

footer .header nav ul li {
    list-style: none;
    border: none;
}

footer .header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
}

footer .header nav ul li a:hover,
footer .header nav ul li .active {
    color: #cbea7b;
}

footer .header .top {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

footer .header .top span {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}

footer .header .top .btn {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #306c52;
    border-radius: 50%;
}

footer .header .top .btn a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

footer .links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #306c52;
    border-radius: 0.8rem;
    padding: 1.5rem;
    margin-top: 2rem;
}

footer .links .link1 {
    display: flex;
    gap: 1.5rem;
}

footer .links .link1 .link {
    padding: 1rem;
    border: 1px solid #cbea7b;
    border-radius: .8rem;
    font-size: 1.5rem;
}

footer .links .link1 .link i {
    color: #cbea7b;
    margin-right: .5rem;
}

footer .links .link1 .link span {
    color: #fff;
    font-weight: 500;
}

footer .links .copyright {
    display: flex;
    align-items: center;
}

footer .links .copyright span {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}

footer .nav {
    display: none;
}

footer .nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .nav ul li {
    list-style: none;
    border: none;
}

footer .nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
}

footer .nav ul li a:hover,
footer .nav ul li .active {
    color: #cbea7b;
}

@media (max-width: 1080px) {
    .contant {
        padding: 5rem 7rem 1rem 3rem;
    }

    .contant .contant-btn {
        margin-bottom: 4.2rem;
    }

    footer {
        padding: 0rem 4% 4rem;
    }
}

@media (max-width: 972px) {
    html {
        font-size: 60%;
    }

    header {
        padding: 2rem 6.5%;
    }

    header .logo {
        width: 16rem;
    }

    header nav ul {
        gap: 2rem;
    }

    footer .header .logo {
        width: 15rem;
    }

    footer .header nav ul {
        gap: 2rem;
    }

    header nav .contact-btn {
        padding: .9rem 2rem;
    }

    header nav {
        gap: 1.6rem;
    }

    .contant {
        padding: 4rem 4rem 1rem 3rem;
    }

    .contant .contant-btn {
        margin-bottom: 4rem;
    }

    .contant .info h1 {
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 1.8rem;
    }

    .contant .info h3 {
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: .8rem;
    }

    footer .links {
        flex-direction: column;
        align-items: center;
    }

    footer .links .link1 {
        margin-bottom: 1rem;
    }

    footer .header .top {
        gap: .8rem;
    }

    footer .header nav ul {
        gap: .8rem;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 57.50%;
    }

    header nav {
        position: fixed;
        top: 6rem;
        right: -100%;
        width: 40rem;
        height: calc(100vh - 6rem);
        background-color: #1a3a2e;
        flex-direction: column;
        padding: 3rem 4rem;
        z-index: 999;
        display: none;
        flex-wrap: wrap;
        gap: 0;
    }

    nav.active {
        right: 0;
    }

    header nav ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        margin-bottom: 3rem;
    }

    header nav ul li {
        width: 100%;
        height: 5rem;
        padding: 1.2rem 1.8rem;
        font-size: 1.8rem;
        border: 2px solid #333;
        border-radius: .8rem;
        margin-bottom: 1.5rem;
    }


    header .fa-bars {
        display: block;
    }

    header nav .contact-btn {
        width: 100%;
    }

    .hero-section {
        margin-top: 7.5rem;
    }

    .contant {
        text-align: center;
    }

    .contant .contant-btn {
        justify-content: center;
    }

    .features {
        padding: 10rem 6.5% 2rem;
    }

    .features .cards {
        grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
        gap: 1.5rem;
    }

    .blogs {
        padding: 0rem 6.5% 2rem;
    }

    .blogs .cards {
        grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
        gap: 1.5rem;
    }

    footer .header nav {
        display: none;
    }

    footer .nav {
        display: flex;
        justify-content: center;
    }

    footer .links .link1 {
        width: 100%;
        flex-direction: column;
    }

    footer .links .link1 .link {
        width: 100%;
    }
}

@media (max-width: 350px) {
    html {
        font-size: 52%;
    }

    header {
        padding: 2rem 3.5%;
    }

    header nav {
        width: 100%;
        padding: 3rem 3.5%;
    }

    .contant {
        padding: 8rem 2.5rem 2rem 2.5rem;
        position: relative;
    }

    .contant .happy-customer {
        flex-direction: column;
    }

    .contant .happy-customer .img {
        position: absolute;
        justify-content: center;
        top: -2.5rem;
        background: #fff;
    }

    .contant .happy-customer p {
        position: absolute;
        top: 3rem;
    }

    .features {
        padding: 10rem 3.5% 2rem;
    }

    .blogs {
        padding: 10rem 3.5% 2rem;
    }

    .blogs .cards .card {
        padding: 1rem;
    }
}